/* -- RESETS Y CONFIGURACIONES GLOBALES --------------------------------------*/
/* -- Reset general --*/
html,body,div,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd,p,blockquote,pre,form,fieldset,table,th,td {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* -- Para todo el documento aplicamos el Border Box -- */
* {
  box-sizing: border-box;
}
/* -- Estilos del Body, Fuentes, Fondos, Etc... -- */
body {
  font-family: sans-serif;
}
ul,ol,li,li a , .header-div-login a {
  list-style: none;
  text-decoration: none;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* - HEADER - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.header {
  background: rgb(100,200,100);
  width: 100vw;
  position: relative;
}
.header-barra img{
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.header-div {
  position: relative;
  top: 0px;
  height: 45px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* -- INICIO - Logo --*/
.header-div-logo {
  position: absolute;
  height: 35px;
  width: 75px;
  left: 5px;
  top: 5px;
}
.header-div-logo-desktop-logo {
  display: none;
}
.header-div-logo-mobile-logo , .header-div-logo-mobile-menu {
  height: 35px;
}
.header-div-logo a:hover , .header-div-logo img:hover {
  background-color: transparent;
}
/* -- FIN - Logo --*/

/* -- INICIO - Buscar --*/
.header-div-buscar {
  position: absolute;
  height: 35px;
  width: calc(100% - 135px);
  left: 90px;
  top: 5px;
}
.form-buscar input {
  margin-top: 1px;
  border: none;
  height: 30px;
  padding: 2px 2px 2px 30px;
  width: 100%;
  border-radius: 2px;
  color: rgb(150, 150, 150);
}
.header-div-buscar img {
  width: 20px;
  position: absolute;
  left: 5px;
  top: 5px;
}
/* -- FIN - Buscar --*/

/* -- INICIO - Menu --*/
.header-div-menu {
  position: absolute;
  height: 35px;
  width: 35px;
  right: 5px;
  top: 3px;
}
.header-div-menu-icon a {
  height: 100%;
  width: 100%;
  font-size: 0.9em;
}
.header-div-menu-lista {
  position: absolute;
  width: calc(100vw - 140px);
  right: -5px;
  top: 42px;
  height: 100vh;
  display: none;
  z-index: 100;
  background-color: rgb(80, 80, 80);
}
.header-div-menu-lista-principal , .header-div-menu-lista-secundario {
  display: none;
  z-index: 100;
  background-color: rgba(10, 10, 10, 1);
}
.header-div-menu-icon-li:hover > .header-div-menu-lista {
  display: block;
}
.header-div-menu-lista-principal li:hover > .header-div-menu-lista-secundario {
  display: block;
}
.header-div-menu-lista a {
  padding: 14px 15px;
  display: block;
  color: rgb(222, 222, 222);
  border-top: transparent 1px solid;
  border-bottom: rgb(26, 26, 26) 1px solid;
}
.header-div-menu-lista a:hover {
  background-color: rgba(124, 124, 124, 0.4);
  border-top: rgb(222, 222, 222) 1px solid;
  border-bottom: rgb(222, 222, 222) 1px solid;
  padding: 14px 15px;
  color: rgb(222, 222, 222);
}
.header-div-menu-lista-login {
  background-color: rgba(10, 121, 181, 0.7);
  color: black;
}
.header-div-menu-lista-login a {
  padding: 15px;
}
.header-div-menu-lista-logoff {
  background-color: rgba(161, 9, 9, 0.7);
  border: 0;
  padding: 14px 15px;
  display: block;
  color: rgb(222, 222, 222);
  border-top: transparent 1px solid;
  border-bottom: rgb(26, 26, 26) 1px solid;
  margin: 0 auto;
  width: 100%;
}






























/* -- FIN - Menu 190 --*/

/* -- INICIO - Login --*/
.header-div-login {
  position: absolute;
  display: none;
  right: 10px;
  top: 7px;
}
.header-div-login a {
  display: block;
  padding: 5px 10px;
}

































/* -- FIN - Login --*/



















/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* - BODY - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.principalContenedorBanner{
display: none;
}
.w3-left, .w3-right, .w3-badge {
  cursor:pointer}
.w3-badge {
  height:13px;width:13px;padding:0}

.banner_body{
  display: none;
  margin: 0;
  margin-top: 20px;
  border-radius: 30px;
  margin-left: 10%;
  margin-right:10%;
  position: relative;
  border-radius: 0.7;
  Box-shadow: inset 0 0 50px rgba(111, 111, 111, 0.83),inset 0 0 80px rgba(106, 106, 106, 0.63),inset 0 0 175px rgba(108, 108, 108, 0.33);
  }

.banner_body img{
  width: 98.33%;
  margin-left: 0.83%;
  margin-right: 0.83%;
  /*opacity: 0.7;*/
  border-radius: 30px;
  Box-shadow: inset 0 0 50px rgba(66, 66, 66, 0.83),inset 0 0 80px rgba(112, 112, 112, 0.63),inset 0 0 175px rgba(93, 93, 93, 0.33);
}
.banner_body a{
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 40%;
  display: inline-block;
  background-color: rgba(104, 107, 106, 0.43);
  color: white;
  font-size: 1.5em;
  text-align: center;
  border-radius: 35px;
  text-decoration: none;
  padding:10%;
}
.body_products_grilla {
  background-color: white;
  }
.products_body{
  background-color: white;
  position: relative;

}
.products_body img{
  width: 90%;
  /*border-radius: 35px;
  opacity: 0.7;*/
  margin-top: 1.25%;
  margin-left: 2.5%;
  margin-bottom: 1.25%;
  margin-right: 2.5%;
}
.products_body a{
  background-color: rgba(111, 112, 112, 0.43);
  color: white;
  position: absolute;
  top:75%;
  left: 5%;
  width: 90%;
  display: inline-block;
  font-size: 2.5em;
  text-align: center;
  text-decoration: none;
}
.body_home {
  max-width: 1200;
}
/*
.body_home a:hover{
  color: rgb(112, 112, 112);
  background-color:rgba(121, 121, 121, 0.63) ;
}*/














































/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*.footer {
  clear: both;
  background:black;
  color: #e5f0ed;
  overflow: hidden;
  margin:0%;

}
.footer-barra{
  width:100%;
  height:auto;
  bottom:0px;
  left:0px;
  padding:0% 0%;
  margin:0%;
}
/*** logo ***/
/*
.footer{
  /*display: none;
  background-color: rgb(100,200,100);
  float: left;
  width: 100%;
}
.logo_2 img{
  height: 40px;
}
.logo_2 h5{
  margin: 0;
}
.frase{
  display: inline-block;
}
/*** MENU ***/
/*.menu_2 .conten h5{
  display: none;
}
.menu_2 .conten{
  display: block;
  overflow: hidden;
}
.menu_2 .conten li{
  display:inline-block;
  width:100%;
  font-size:1.5em;
  margin:;
  padding:0;
  overflow: hidden;
}
.menu_2 .conten li{
  font-size: 2em;
  border-bottom: 1px solid #fff;
}
/***footer-article-red-social-icon Sociales**/
/*.footer-article-red-social{
  display: block;
  overflow: hidden;
  clear: both;
}

.footer-article-red-social ul li{
  width:33.33%;
  float:left;
}*/
/*** preguntas frecuentes ***/
.preguntas_frecuentes{
  width: 100%;
}
/****Fondo de preguntas frecuentes *****/
.container-preguntas{
  background-image: url(../images/formularioperro.jpg);
  background-size: 100%;
  background-position-y:45%;
}
.container-preguntas li{
    margin: 1%;
}
.preguntas_frecuentes a{
  margin: 1%;
  font-size:0.73em;
  text-decoration: none;
  color: #fff;color: #e5f0ed;
  display: block;
}
.preguntas_frecuentes p{
  font-size: 2em;
  border-bottom: 1px solid #fff;
}
.respuesta-oculta {
  display: none;
}
.preg-freq li a {
  padding: 5px;
  background-color: grey;
}
.preg-freq li:hover > .respuesta-oculta {
  display: block;
}
.respuesta-oculta{
  background-color: rgba(165, 176, 174, 0.58);
  margin: 1%;
}
/*FOOTER*/
.footer-article-red-social-footer-article-red-social-icon-sociales-logo img{
  display: none;
}
.footer-article-red-social-footer-article-red-social-icon-sociales{
  background-color: black;
  color:white;
  text-decoration: none;
}
.footer-copyright {
  background-color: black;
  color:white;
  font-size: 0.8em;
}
.footer-article-red-social-icon{
  float: left;
  width: 33.3%;
  margin-top: 2%;
  margin-bottom: 2%;

}





































/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* - Formulario de registración - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.header-div-login-form-registracion a{
  display: none;
}
.partesFormularioACompletar {
    margin:auto;
    width: 95%;
}

.partesFormularioACompletar input{
  width: 95%;
  font-size: 1.2em;
  padding: 1%;
  color:rgb(60, 59, 59);
}
.registrateTitulo h2{
  padding: 1.5%;
  margin-top: 0;
}
.partesFormularioACompletar label{
  padding: 1.5%;
  font-size: 1.4em;
}
.partesFormularioACompletar input,textarea{
  padding:10px;
  width:100%;
  outline:none;
  transition: all 0.15s ease-in-out;
  border-radius:3px;
  border:1px solid rgba(0,0,0,0.2);
  }

.terminosYregistrame{
  width: 95%;
  margin: auto;

}

.terminosYregistrame p{
  font-size: 1em;
  color: rgb(85, 79, 81);
  margin-left: 3%;
  margin-right: 3%;
  padding: 1%;

}
.terminosYregistrame a{
  color:rgb(65, 65, 65);
}
.botonRegistrame input{
  width: 45%;
  font-size: 1.4em;
  }
.botonRegistrame{
  padding: 1.5%;
}
.partesFormularioACompletar label{
  display: none;
}
.body_formulario {
  background-image: url(../images/formularioperro.jpg);
  background-size: 100%;
  background-position-y:45%;
}
.erroresFormulario{
  font-size: 0.7em;
  color:red;
}
.logueateEnRegistracion h2{
  background-color: rgba(80,80,80,0.4);
  padding: 10px 0;
  width: 95%;
  margin: 0 auto;
  color: white;
  font-size: 1em;
}
.logueateEnRegistracion a{
  color: rgb(200, 200, 200)
}
.logueateEnRegistracion a:hover{
  color:rgb(255, 255, 255);
}
.terminos a{
  color: rgb(85, 85, 85);
}
.terminos a:hover{
  color: rgb(255, 255, 255);
}

.terminos h3{
  display: block;
  font-size: 0.8em;
  background-color: rgba(80,80,80,0.4);
  padding-bottom: 1.5%;
  color: rgb(218, 218, 218);
}










































/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* - PAGINA DE LOGIN - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* INICIAR SESION -------------------------*/
.body_login {
  background-image: url(../images/formularioperro.jpg);
  background-size: 100%;
  z-index: 10;
  background-position-y: 45%;
  min-height: 525px;
}
.body_login_princ_titulo {
  padding: 20px 0;
  color: rgb(50, 50, 50);
}
.body_login_princ_form {
  padding: 5px 0 25px;
}
.body_login_princ_form_fondo img {
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: -1;
  left: 0;
  opacity: 0.6;
  top: calc((20vh) - 150px);
}
.body_login_princ_form_renglones {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}
.body_login_princ_form_renglones label{
  display: none;
}
.body_login_princ_form_renglones button {
  margin: 20px 0;
}
.body_login_princ_form_renglones input {
  float: left;
  text-align: left;
  font-size: 1.2em;
  color: rgb(80, 80, 80);
  padding: 10px;
  width: 100%;
  outline: none;
  transition: all 0.15s ease-in-out;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: white;
}
.body_login_princ_form_renglones button {
  width: 100%;
  padding: 5px;
  font-size: 1.4em;
}

.body_login_princ-registrate {
  font-size: 0.8em;
  color: rgb(50, 50, 50);
  padding: 20px 0;
}
.body_login_princ-registrate a {
  color: white;
  text-shadow: 1px 0px 5px rgb(38, 38, 38);
}
.body_login_princ-registrate h2 {
  background-color: rgba(80,80,80,0.4);
  padding: 10px 0;
  width: 95%;
  margin: 0 auto;
}































/*Registrado.php*/
.contenedorPrincipalRegistrado {
  /*background-image: url(../images/formularioperro.jpg);*/
  /*background-size: 100%;
  background-position-y:54%;*/
}
.bienvenidoRegistracionOk h2{
  font-size: 2.5em;
}
.bienvenidoRegistracionOk p{
  font-size: 2em;
}
.bienvenidoRegistracionOk{
    border-radius: 30px;
    border: 1px solid rgba(0,0,0,0.2);
    width: 90%;
    margin: 5%;
    background-color: rgba(0,0,0,.2);
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: rgb(153, 153, 153);
      }
.textoBienvenido a:hover{
  color:#64C864;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* - MEDIA QUERY's - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* -- A PARTIR DE --> 640 px -- */
@media (min-width:640px) {
  /* -- INICIO - HEADER ------------------------------------------------------*/
   .header {
     margin: 0 auto;
     position: relative;
     height: 120px;
     top: 0;
     max-height: 120px;
   }
   .header-div {
     height: inherit;
   }
   .header-barra img{
     height: 5px;
   }
   /* -- INICIO Logo -- */
   .header-div-logo {
     width: 130px;
     left: 30px;
     top: 10px;
     z-index: 40;
     height: auto;
   }
   .header-div-logo-mobile-logo {
     display: none;
     width: 130px;
   }
   .header-div-logo-desktop-logo {
     display: inline-block;
     width: 100%;
   }
   .header-div-logo-mobile-menu {
     display: none;
   }






































   /* -- FIN Logo -- */


   /* -- INICIO - Barra de busqueda -- */
   .header-div-buscar {
     height: auto;
     width: calc(100% - 350px);
     left: 195px;
     top: 40px;
   }
   .form-buscar {
     margin: 0px;
   }
   .form-buscar input{
     width: 100%;
   }
   .header-div-buscar img {
     top: 3px;
   }



























   /* -- FIN - Barra de busqueda -- */


   /* -- INICIO - Menu -- */
   .header-div-menu {
     height: 32px;
     width: 100%;
     left: 0;
     top: auto;
     background-color: rgb(80, 80, 80);
     bottom: 0;
   }
   .header-div-menu-lista {
     display: inline-block;
     width: auto;
     top: 1px;
     left: 0;
     right: 0;
     bottom: 5px;
     height: 93%;
   }
   .header-div-menu-lista li {
     float: left;
     width: 15%;
     text-shadow: 0 1px 5px rgba(0, 50, 110, 0.5);
     border-radius: 2px;
     overflow: hidden;
   }
   .header-div-menu-lista li:hover > .header-div-menu-lista-principal {
     display: inline-block;
     width: 150px;
     position: absolute;
     left: 0;
   }
   .header-div-menu-lista-principal li:hover > .header-div-menu-lista-secundario {
     top: 0;
     left: 148px;
     width: 150px;
   }
   .header-div-menu-lista-principal li , .header-div-menu-lista-secundario li {
     float: left;
     width: 100%;
     overflow: hidden;
     border-bottom: rgb(80, 80, 80) 1px solid;
     color: rgb(222, 222, 222);
    display: block;
   }
   .header-div-menu-lista-secundario {
     position: absolute;
     top: 92%;
     left: 18.6%;
   }
   .header-div-menu-lista a {
     padding: 5px;
     display: block;
     color: rgba(235, 255, 255, 1);
     text-shadow: 0 1px 5px rgba(0, 50, 110, 0.5);
     border-top: none;
     border-bottom: none;
   }
   .header-div-menu-lista li:hover {
     background-color: rgba(80, 80, 80, 0.9);
     color: rgb(55, 55, 55);
     border-top: none;
     border-bottom: transparent 1px solid;
   }
   .header-div-menu-lista-login {
     display: none !important;
   }
   .header-div-menu-lista a:hover {
     background-color: rgb(173, 223, 249);
     color: rgb(45, 65, 94);
     text-shadow: 0 1px 5px rgba(230, 241, 254, 0.9);
     border-top: none;
     border-bottom: none;
     padding: 5px;
   }






















   /*LOGIN*/
   .header-div-login {
     display: block;
     width: 100%;
     font-size: 0.8em;
     right: 0;
     /*background-color: rgb(38, 38, 38);*/
     top: 0;
     z-index: 100;
   }
   .header-div-login a {
     float: right;
     text-shadow: 0 1px 5px rgba(66, 66, 66, 0.72);
     color: rgb(210, 210, 210);
   }
   .header-div-login a:hover {
     background-color: rgba(131, 130, 130, 0.75);
     color: rgba(240, 240, 240,1);
     border-radius: 3px;
     overflow: hidden;
     border-radius: 0 0 10px 10px;
   }
   .header-div-login-links-logoff input{
     border: none;
     background-color: transparent;
     float: right;
     text-shadow: 0 1px 5px rgba(66, 66, 66, 0.72);
     color: rgb(210, 210, 210);
     padding: 5px 10px;
     cursor: pointer;
     z-index: 60;
   }
   .header-div-login-links-logoff input:hover{
     background-color: rgba(131, 130, 130, 0.75);
     color: rgba(240, 240, 240,1);
     border-radius: 3px;
   }
   .header-div-login-icons {
     height: 24px;
     padding: 4px 5px 2px 5px !important;
     /*float: right;*/
   }
   .borrar-solo-pruebas {
     float: left;
   }
   .header-div-login-links {
     background-color: rgb(80,80,80);
     position: absolute;
     right: 25px;
     border-radius: 0 0 10px 10px;
   }



















   /* -- FIN - HEADER ---------------------------------------------------------*/



  /* -- INICIO - BODY --------------------------------------------------------*/
.principalContenedorBanner{
  display: block;
  margin-top: 1%;
}

  .products_body{
    float: left;
    width: 45%;
    margin: 2.5%;
  }
  .products_body a{
    font-size: 1.5em;
  }
  /*.products_body img:hover{
    color: rgba(9, 112, 84);
    background-color:rgba(9, 112, 84, 0.63) ;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }*/
  /*.products_body a:hover{
    color: rgba(9, 112, 84);
    background-color:rgba(9, 112, 84, 0.63) ;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
  .banner_body a:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }*/


  /*PAGINA DE LOGIN*/
  .body_home_login {
    background: linear-gradient(to right, rgba(235,242,225,1) 0%, rgba(212,228,189,1) 100%);
  }


  .body_home_login_form_renglones {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .body_home_login_form_renglones input {
    border: none;
    height: 30px;
    width: 70%;
    border-radius: 2px;
    color: rgb(150, 150, 150);
    text-align: left;
    float: right;
  }
  .body_login_princ_form_renglones {
    width: 80%;
    max-width: 800px;
  }
  .body_login_princ_form_renglones label{
    display: inline-block;
    float: left;
    width: 20%;
    padding: 10px;
    text-align: right;
    font-size: 1.2em;
  }
  .body_login_princ_form_renglones input {
    float: left;
    width: 70%;
  }
  .body_login_princ_form_renglones button {
    max-width: 70%;
    float: left;
  }




























  /* -- INICIO - FOOTER ------------------------------------------------------*/

  .footer-article-red-social-footer-article-red-social-icon-sociales{
    width:100%;
    background-color:black;
    display:block;
    float: left;
    color:white;
    font-size: 0.8em;
  }
  .footer-article-red-social-footer-article-red-social-icon-sociales-logo img{
    display: none;
  }
  footer{
    clear: both;
    font-size: 1em;
  }
  /*
  .footer_2{
    background-color:#60c19f;
    width: 100%;
    height:40%;
    display: block;
  }

  .logo_2{
    display: block;
    float:left;
    height:100%;
    width:auto;
    width:100% ;

  }
  .logo_2 img{
    padding: 3% 0%;
    border:none;
    padding: 0;
    margin: 0;
    width: 15vw;
    height: auto;
  }

  .menu_2{
    float: left;
    width: 40%;
  }
  .footer-article-red-social{
    width:100%;
    clear: both;
    font-family: 1em;
  }
  .footer-article-red-social h2{
    display: none;
  }
  .preguntas_frecuentes{
    width:20%;
    margin:0 10%;
    bottom:50%;
    padding:0;
    display:inline-block;
    float:right;
    height:auto;
    }*/





































  /* -- FIN - FOOTER ---------------------------------------------------------*/



/*********************************Formulario de registración*-640***********************************/
  .parametros {
    padding: 1.5%;
    margin:auto;
    width: 50%;

  }
  .botonRegistrame button{
    width: 50%;
  }
  .parametrosFotoPerfil div{
    width: 95%;
  }
  .partesFormularioACompletar label{
    font-size: 1.2em;
  }
  .partesFormularioACompletar input, textarea {
    font-size: 1em;
  }

  .partesFormularioACompletar div{
    background-color: rgba(103, 103, 103, 0.34);

  }































/*registrado.php en 640*/
.bienvenidoRegistracionOk{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
  }
.bienvenidoRegistracionOk h2{
  font-size: 1.5em;
}
.bienvenidoRegistracionOk p{
  font-size: 1em;
}


}
/*********************************Fin Formulario regist-640********************************************/

  /* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
  /* - MEDIA QUERY's - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
  /* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
@media (min-width:960px) {
  /* -- INICIO - HEADER ---------------------------------------------------------*/
  .header {
    height: 130px;
  }

  /* -- INICIO Logo -- */
  .header-div-logo {
    width: 150px;
    margin-left: 10px;
  }
  .header-div-buscar img {
    top: 5px;
  }
  /* -- FIN Logo -- */


  /* -- INICIO - Barra de busqueda -- */
  .header-div-buscar {
    width: calc(100% - 350px);
    max-width: 800px;
    left: 230px;
    top: 40px;
  }
  /* -- FIN - Barra de busqueda -- */


  /* -- INICIO - Menu -- */
  .header-div-menu-lista > li {
    max-width: 100px;
  }
  .header-div-menu-lista-principal li:hover > .header-div-menu-lista-secundario {
    left: 149px;
    width: 180px;
  }






























  /* -- FIN - HEADER ---------------------------------------------------------*/


  /* -- INICIO - BODY --------------------------------------------------------*/
  .products_body{
    margin-left: 1%;
    margin-right: 1%;
    width: 20%;
    }
    .body_products_grilla{
    margin-left: 5%;
    margin-right: -7%;
    }
  .products_body a{
    font-size: 0.9em;
  }





































  /* -- FIN - BODY -----------------------------------------------------------*/



  /* -- INICIO - FOOTER ------------------------------------------------------*/
















































  /* -- FIN - FOOTER ---------------------------------------------------------*/

  /*********************************Formulario de registraci�n************************************/
  .partesFormularioACompletar label{
    display: block;
  }
  .parametros {
    padding: 0.5%;
  }
  .partesFormularioACompletar label{
    font-size: 1em;
  }
  .partesFormularioACompletar input, textarea {
    font-size: 0.8em;
  }

  /*********************************Fin Formulario regist********************************************/
}
